{% extends 'layout.html.twig' %}

{% block header %}
    <a href="{{ path('home') }}" class="item">
        <i class="home icon big"></i>
        POS
    </a>
    <a href="#" class="item active">
        Verwaltung
    </a>
{% endblock %}

{% block actions %}
    <div class="ui three item menu">
        <a href="{{ path('management_product_category_list') }}"
           class="ui massive fluid button blue">
            Kategorien
        </a>
        <a href="{{ path('management_product_list') }}"
           class="ui massive fluid button green">
            Produkte
        </a>
        <a href="{{ path('management_client_list') }}"
           class="ui massive fluid button yellow">
            Kunden
        </a>
    </div>
{% endblock %}
