<td></td>
<td></td>
<td></td>
<td></td>
<td>{{ startBalance | euros }}</td>
<td>{{ startBalance | cents }}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>