{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Verkaufsware</h1>

    <a href="{{ path('sale_new') }}">New Sale</a>
    
    <ul>
        {% for sale in sales %}
            <li>{{ sale.item }}</li>
        {% endfor %}
    </ul>
{% endblock %}
