{% extends 'layout.html.twig' %}

{% block body %}
    <div class="uid grid">
        <div class="row">
            <div class="column wide">
                <h2>Kategorien</h2>
            </div>
        </div>
        <div class="row">
            <div class="column sixteen wide">
                <a class="ui button fluid massive green" href="{{ path('management_product_category_new') }}">Neu</a>
            </div>
        </div>
    </div>
    <br>

    <div class="doubling stackable four column ui grid container">
        {% if categories %}
            {% for category in categories %}
                <div class="column">
                    <div class="ui cards">
                        <div class="card">
                            <div class="content bold bigtext center aligned">
                                {{ category.name }}
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a class="ui blue button massive icon"
                                       href="{{ path('management_product_category_edit', {'category': category.id}) }}">
                                        <i class="edit icon white"></i>
                                    </a>
                                    <a class="ui red button massive icon"
                                       href="{{ path('management_product_category_delete', {'category': category.id}) }}">
                                        <i class="trash icon white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>Keine Kategorien vorhanden</h2>
        {% endif %}
    </div>

    {% include 'includes/print/backButton.html.twig' with {'url': path('management_product_list')} %}
{% endblock %}
