{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="column">
            <h2>Kasse</h2>
        </div>
    </div>
    <div class="row">

    </div>
{% endblock %}
