{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <h2>Dashboard</h2>
    </div>
    <div class="row">
        <a href="{{ path('transactions_list') }}">Produse</a>
    </div>
{% endblock %}
