<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
    </head>
    <body class="ui container">
        <h1 class="header">
            <a href="{{ path('dashboard') }}">POS</a>
        </h1>

        {% block body %}{% endblock %}
        <script src="{{ asset('assets/semantic.min.js') }}"></script>
    </body>
</html>
