{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Einkäufe</h1>

    <a href="{{ path('order_new') }}">New Order</a>
    
    <ul>
        {% for order in orders %}
            <li>{{ order.item }}</li>
        {% endfor %}
    </ul>
{% endblock %}
